html,body {
		height:100%;
}
		

li{
	float: left;
	list-style: none;
	padding: 20px;
	
}
li:hover a{
	color:red;
}

nav{
	float:right;
	margin-top: 25px;
	
}

a{
	text-decoration: none;
font-family:"Times New Roman";
}

header{
	
	background:black;
	
}
h1{
	text-align: center;
	font-size:40px; 
}

section{
	
	width: 100%;
	background:red;
	float: left;
	overflow: auto;
	padding-bottom: 60px;
	padding-top:30px;
}

#main-container{
margin: 150px auto;
width: 600px;
}
table{
	background-color: white;
	text-align: center;
	width: 100%;
	border: solid 5px black;
}